In [1]:
import numpy as np
import pandas as pd
import plotly as pl
import plotly.offline as po
import cufflinks as cf

In [2]:
po.init_notebook_mode(connected=True)

In [3]:
cf.go_offline()

In [24]:
def createData(choice):
    if choice==1:
        return pd.DataFrame(np.random.rand(100,5),columns=['A','B','C','D','E'])
    elif choice==2:
        print("Enter the value of n(Number of Column)")
        n=int(input())
        print("Enter the value of m(Number of Rows)")
        m=int(input())
        column_name = [0]*n
        print("Enter the column name:")
        for i in range(n):
            column_name[i] = input()
            
        mat = []
        for i in range(m):
            print("Enter the Value of row ",(i+1))
            mat.append([])
            for j in range(n):
                mat[i].append(int(input()))
                
        return pd.DataFrame(mat,columns=column_name)
    elif choice==3:
        print("Enter the filename:")
        path = input()
        if path[-4:] ==".csv" or path[-4:] =='.txt':
            return pd.read_csv(path)
        elif path[-4:] == 'json':
            return pd.read_json(path)
        else:
            print("Wrong Choice!")
            return None
    else:
        print("Wrong Choice!")
        return None

In [25]:
print("Select the type of data you need to plot.")
print('1--->Random Data with 100 rows and 5 columns')
print('2--->Customize dataframe with n columns and m rows with Integer Values')
print('3--->Upload csv/json/text file.')
choice = int(input())
df1  = createData(choice)

Select the type of data you need to plot.
1--->Random Data with 100 rows and 5 columns
2--->Customize dataframe with n columns and m rows with Integer Values
3--->Upload csv/json/text file.

 3

Enter the filename:

 ../Python-Extras/187.tips.csv

In [26]:
df1.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4